* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;


}

nav {
    background-color: #0e1a35;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #fff;

}


/* Dropdown Button */
.dropbtn {
    background-color: #0e1a35;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #51545c;
    /* background-color: #ddd; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */




.mainfooter {
    background-color: #0e1a35;
    margin-top: -15px;
}

.mainfooter p {
    color: #ffffff;

}

.mainfooter h4 {
    color: #ffffff;

}

.socialLink a {
    align-items: center;
    display: inline-grid;
}

.socialLink i {
    color: white;
}




.logo {
    flex: 1;
}

.logo a:hover {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo {
    color: #fff;
}

.logo img {
    height: 50px;
    position: relative;
    top: 20px;
}

.navLogo {
    height: 36px;
    padding-left: 50px;
    position: fixed;
    margin: -3px
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0px;
}

.menu li {
    padding: 15px 10px;
    font-size: 16px;
}

.toggle {
    font-size: 30px;
    display: none;

}


.sellerTable td {
    vertical-align: middle;
}

.saveBtn {
    padding: 6px 18px;
}

.sellerTable .delBtn {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.complainsTable td {
    vertical-align: middle;
}

.complainsTable thead {
    background-color: #3097f7;
}


@media screen and (max-width: 600px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu {
        margin-top: 15px;
        display: none;

    }

    .menu.active,
    .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }



}



/* Main content */
.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}

/*.navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
*/
.headerlogo {
    padding-top: 05px;

}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee
}

.section .container {
    height: 500px;
    width: 800px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1)
}

.section .container .form {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute
}

.section .container .left-side {
    width: 45%;
    background-color: #fff;
    height: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.section .container .left-side .brand {
    position: absolute;
    top: 20px;
    left: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.logo {
    margin-bottom: 50px;
}

.section .container .left-side .form-inputs {
    padding: 25px
}

.section .container .left-side .form-inputs input {
    position: relative;
    width: 100%;
    height: 50px !important;
    padding: 0px 10px;
    color: #333;
    border: 2px solid #eee;
    outline: none;
    margin: 5px 0;
    box-shadow: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.5s;
    background-color: #f5f5f5
}

.section .container .left-side .form-inputs input[type="submit"] {
    cursor: pointer;
    border: none;
    background-color: #130329;
    text-transform: uppercase;
    width: 100px;
    color: #fff;
    margin-top: 22px
}

.section .container .left-side .form-inputs input[type="submit"]:hover {
    background-color: red;
    color: #fff
}

.section .container .left-side .form-inputs input:focus {
    border: 2px solid #00000036
}

.section .container .left-side .form-inputs input[type="submit"]:focus {
    border: none
}

.section .container .left-side .form-inputs .login-text {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #555
}

.random_password {
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 9px
}

.form-inputs .password {
    position: relative
}

.form-inputs .showpass {
    width: 25px;
    height: 25px;
    background-color: #fff;
    right: -13px;
    top: 20px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center
}

.form-inputs .showpass img {
    width: 15px;
    transition: all 5s
}

.section .container .left-side .form-inputs p a {
    text-decoration: none
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center
}

.brand img {
    width: 20px
}

.brand small {
    margin-left: 12px;
    margin-top: 5px;
    font-family: segoe ui;
    font-weight: 700;
    color: #3456A6;
    font-size: 20px;
    padding-left: 60px;


}

.password p {
    font-size: 15px;
    position: absolute;
    top: 58px;
    left: 3px;
    cursor: pointer;
    display: none
}

.section .container .right-side {
    width: 60%;
    height: 100%;
    position: relative;
    background-color: #000000e3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.right-side h2 {
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    z-index: 1000
}

.right-side .circle1 {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #000;
    border-radius: 50%;
    top: -100px;
    left: -100px;
    transition: all 1s
}

.right-side .circle2 {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #000;
    border-radius: 50%;
    top: 250px;
    right: 50px;
    transition: all 1s;
    transition-delay: 3s
}

.right-side .circle3 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #000;
    border-radius: 50%;
    top: 50px;
    right: 10px;
    transition: all 1s;
    transition-delay: 2s
}

.right-side:hover .circle1 {
    height: 350px;
    width: 350px
}

.right-side:hover .circle2 {
    height: 250px;
    width: 250px
}

.right-side:hover .circle3 {
    height: 150px;
    width: 150px
}

.section .container .right-side svg {
    position: absolute;
    bottom: 0
}

@media (max-width:750px) {
    .section .container {
        max-width: 350px
    }

    .section .container .right-side {
        display: none
    }

    .section .container .left-side {
        width: 100%
    }
}




.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    /*font-size: 16px;*/
}

.navbar-nav ul li:hover {
    background-color: white;
    color: blue;
}




/*dashboard counter*/
/*  Counter Section  */

#counter {
    background-color: #2d4278;
    color: #fff;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 100px 0;
}

#counter .count {
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
}

.count h4 {
    color: #fff;
    font-size: 16px;
    margin-top: 0;
}

#counter .count .fa {
    font-size: 40px;
    display: block;
    color: #fff;
}

#counter .number {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

/*  Pricing Section  */

#pricing {
    background: #f7f7f7;
}

.pricing-items {
    padding-top: 50px;
}

.pricing-item {
    background: #fff;
    position: relative;
    box-shadow: 0 0 9px 0 rgba(130, 121, 121, .2);
    padding: 50px 0px;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.pricing-item.active {
    top: -50px;
}

.price-list li {
    list-style: none;
    margin-bottom: 15px;
}

.price-list .price {
    font-size: 30px;
    font-weight: bold;
}

.pricing-item .ribbon {
    margin: -50px 0 20px;
    display: block;
    background-color: #ffb400;
    padding: 15px 0 2px;
    opacity: 0.8;
    border-top-right-radius: 2em;
}

.pricing-item:hover .ribbon {
    background-color: #ffb400;
    opacity: 1;
}

.pricing-item.active .ribbon {
    background-color: #ffb400;
    opacity: 1;
}

.pricing-item .ribbon p {
    color: #fff;
    font-size: 22px;
    margin: 0 0 10px;
    font-weight: 600;
}

.pricing-item.active .price-list li,
.pricing-item:hover .price-list li {
    color: #848181;
    ;
}

ul.price-list {
    margin-bottom: 30px;
    padding: 0;
}

.btn-price {
    display: inline-block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 40px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
    border: 1px solid #848181;
    background-color: transparent;
    color: #848181;
}

.pricing-item:hover .btn-price,
.active .btn-price {
    border: 1px solid #ffb400;
    background-color: #ffb400;
    color: #fff;
}

.btn-price:focus {
    background-color: transparent;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .pricing-items {
        padding-top: 0;
    }

    .pricing-item.active {
        top: 20px;
        margin-bottom: 40px;
    }
}

/*Complaints Page*/

/*.container {
  padding: 2rem 0rem;
}
*/
h4 {
    margin: 2rem 0rem 1rem;
}

.button {
    width: 90px;
}

.Complaints-topmenu h1 {
    text-decoration: none;
    font-family: aristotelica display trial;
    margin-top: 10px;
    background: #0e1a35;
    color: white;
    text-align: center;
    border: solid;

}

/*ADMINS*/
.Adminpage-menu1 h1 {
    text-decoration: none;
    font-family: aristotelica display trial;
    margin-top: 10px;
    width: 100%;
    background: #0e1a35;
    color: white;
    text-align: center;
    border: solid;

}

a.addadmin.btn.btn-light.btn-sm.active.text-white.float-right {
    position: absolute;
    margin-left: 206px;
    margin-top: 8px;
}

.addadmin2 {
    margin-left: 850px;
    margin-top: 2px;

}

.addbtn {
    height: 30px;
    width: 65px;
}


/*.Adminpage-menu h1{
    text-decoration: none;
    font-family:aristotelica display trial; 
    margin-top: 10px;
    background: #0e1a35;
    color: white;
    text-align: center;
    border: solid;


}*/


/*.table-image {
  td, th {
    vertical-align: middle;
  }
}*/
/*.table-primary, .table-primary>td, .table-primary>th {
    background-color: #0e1a35;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: white;
}
*/

@media all and (min-width: 992px) {}

.navbar .nav-item:hover .nav-link {
    color: #fff;
}

.navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
}

.navbar .dropdown-menu.fade-up {
    top: 180%;
}

.button {
    width: 90px;
    margin: 2px;
}





/*@media (max-width: 575.98px) { ... }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }

img {
    height: 36px;
    padding-left: 0px;
    position: fixed;
    margin: -3px;
}

.button{
    width: 90px;
    margin: 5px;
  }

*/



html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    font-family: lato;
    background-color: #EEEEEE;
}

.textside {
    margin-left: 25px;
}

.navlogo img {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 60%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #FFFFFF;
    height: 60px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 6px 10px;
    margin: 5px 0px 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

a {
    color: #7D7D7D;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #7D7D7D;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    height: 125px;
}

.rideone img {
    width: 70%;
}

.ridetwo img {
    width: 60%;
}

.ridethree img {
    width: 50%;
}

.rideone {
    background-color: #6CC785;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
}

.ridetwo {
    background-color: #9A75FE;
    padding-top: 30px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
}

.ridethree {
    background-color: #4EBCE5;
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
}

.fontsty {
    margin-right: -15px;
}

.fontsty h2 {
    color: #6E6E6E;
    font-size: 35px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
}

.fontsty h4 {
    color: #6E6E6E;
    font-size: 25px;
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
}

.content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 4rem;
    overflow-x: hidden;
    background: transparent;
}

#mainNav .navbar-collapse {
    overflow: auto;
    max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-sidenav li:hover {}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    float: right;
    content: '\f107';
    font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
    content: '\f105';
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link {
    position: relative;
    min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
    float: right;
    width: auto;
    content: '\f105';
    border: none;
    font-family: 'FontAwesome';
}


/*FOoter*/



.stretch-card>.card {
    width: 100%;
    min-width: 100%
}


.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}



.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
}

.template-demo>.btn {
    margin-right: 0.5rem !important;
}

.template-demo {
    margin-top: 0.5rem !important;
}

.btn.btn-rounded {
    border-radius: 50px;
}


.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d;
}

.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff;
}



.btn-outline-twitter {
    border: 1px solid #2caae1;
    color: #2caae1;
}


.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5;
}

.btn-outline-instagram {
    border: 1px solid #dc4a38;
    color: #dc4a38;
}

.btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff;
}

.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff;
}


.btn-outline-instagram:hover {
    background: #e52d27;
    color: #ffffff;
}


.btn-facebook {
    background: #3b579d;
    color: #ffffff;
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff;
}

.btn-linkedin {
    background: #E62117;
    color: #ffffff;
}

.btn-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #ffffff;
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff;
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff;
}


.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #e62117c2;
    color: #ffffff;
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #ffffff;
}

.list-unstyled li {
    text-decoration: none;


}

footer a {
    color: #2caae1;
    font-size: 18px;
}


.loc {
    font-size: 25px;
}

.location {
    font-size: 16px;
    font-family: Segoe ui;
    font-weight: bold;
}

.number {
    font-size: 16px;
    font-family: Segoe ui;
    font-weight: bold;
}

.email {
    font-size: 16px;
    font-family: Segoe ui;
    font-weight: bold;
}


.footer-bottom {
    text-align: center;
    font-size: 16px;
    font-family: Segoe ui;
    font-weight: bold;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown.show>.nav-link:after {
    content: '\f107';
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
    color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover {
    color: #D04153;
    border-radius: 30px;
    background-color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
    color: #D04153;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
    color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
    color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled .navbar-sidenav {
    width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
    display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
    width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
    display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
    white-space: nowrap;
}


@media (min-width: 992px) {

    #mainNav .navbar-brand {
        width: 220px;
    }

    #mainNav .navbar-collapse {
        overflow: visible;
        max-height: none;
    }

    #mainNav .navbar-collapse .navbar-sidenav {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0px;
    }

    #mainNav .navbar-collapse .navbar-sidenav>.nav-item {
        width: 230px;
        padding: 5px 15px;
        border-bottom: none;
    }

    #mainNav .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
        padding: 1em;
    }

    #mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link {
        min-width: 0;
    }

    #mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
        width: 24px;
        text-align: center;
    }

    #mainNav.fixed-top .navbar-sidenav {
        height: calc(120vh - 150px);
        width: 230px;
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: #262625;
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
        color: white !important;
        background-color: #495057;
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
        color: white;
    }

    #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
        background: #f8f9fa;
    }

    #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
        color: #000 !important;
        background-color: #e9ecef;
    }

    #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
        color: #000;
    }

    .content-wrapper {
        margin-left: 250px;
        margin-right: 20px;
    }

}

@media screen and (max-device-width: 640px) {

    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, .5);
        border-color: #E84A5F;
        background: #E84A5F;
    }

    .navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: #262625;
        height: 80vh;
    }

    .navbar-nav2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: #262625;
        height: 18vh;
    }

}





.form {
    padding: 50px;
}

.buttonadminadd {
    margin-top: 15px;

}

a.btn.btn-primary.btn-lg.btn-block.text-white {
    margin-top: 15px;
    background-color: #0e1a35;
}

.col-12.col-md-9.col-lg-7.col-xl-6 {
    padding-top: 10px;

}

.gradient-custom-3 {
    /* fallback for old browsers */
    /*background: #84fab0;*/

    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));*/

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))*/
}

.gradient-custom-4 {
    /* fallback for old browsers */
    /*background: #84fab0;*/

    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));*/

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))*/
}










@media (max-width:750px) {
    .section .container {
        max-width: 350px
    }


    .img {
        margin-right: 97px;
    }

    .section .container {
        width: 100%
    }
}

.sellerupdateimg {
    padding-left: 30%;
}


@media (max-width: 445px) {
    .sellerupdateimg {
        padding-left: 22%;
    }
}